.texto-404{
    @include texto(3.3rem,500,map-get($map:$paleta, $key: 'black'));
    font-family: $richard;
    transition: transform .1s;
    @include cel{
        font-size: 3.5rem;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        font-size: 4.5rem;
    }
    @include tablet-xl{
        font-size: 2.8rem;
    }
    @include desktop{
        font-size: 3rem;
    }
    @include wide{
        font-size: 2.9rem;
    }
}
.lista-404{
    @include texto(3.3rem,500,map-get($map:$paleta, $key: 'black'));
    font-family: $richard;
    transition: transform .1s;
    &:hover{
        color: $hoversMain;
        transform: translateX(.3px)
    }
    @include cel{
        font-size: 3.3rem;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        font-size: 4.4rem;
    }
    @include tablet-xl{
        font-size: 2.7rem;
    }
    @include desktop{
        font-size: 3rem;
    }
    @include wide{
        font-size: 3rem;
    }
}
.img-404{
    margin-top: 7rem;
    width: 75%;
    @media screen and (max-width:768px) {
        width:75%
    }
    @include desktop{
        width: 55%;
    }
    @include wide{
        width: 55%;
    }
    @media screen and (min-width:1351px) {
        width: 55%;
    }
}