.titulos-feria{
    @include texto(1.8rem,400,map-get($map:$paleta, $key: 'black'));
    font-family: $fuga;
    margin-bottom: 1rem;
    transition: transform .1s;
    &:hover{
        color: map-get($map:$paleta, $key: 'third');
        transform: translateX(.5px);
    }
    @include cel{
        font-size: 1.2rem;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        font-size: 1.3rem;
    }
    @include tablet-xl{
        font-size: 1.5rem;
    }
    @include desktop{
        font-size: 1.5rem;
    }
    @media screen and (min-width: 1111px) and (max-width: 1199px){
        font-size: 1.6rem;
    }
    @media screen and (min-width: 1200px) and (max-width: 1350px){
        font-size: 1.7rem;
    }
}
.grid-feria{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(2, auto);
    @include cel{
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
    }
    @include smart{
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
    }
    @include tablet{
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(3, auto);
    }
    @include tablet-xl{
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(3, auto);
    }
    @include desktop{
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(3, auto);
    }
}
.feria-1{
    border: none;
    margin: 1rem;
    grid-column: 1/3;
    grid-row: 1/2;
    padding-left: 1rem;
    padding-right: .5rem;
    @include cel{
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 0;
    }
    @include smart{
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 0;
    }
    @include tablet{
        grid-column: 1/3;
        grid-row: 1/2;
        padding-left: 1rem;
        padding-right: .5rem;
    }
    @include tablet-xl{
        grid-column: 1/3;
        grid-row: 1/2;
        padding-left: 1rem;
        padding-right: .5rem;
    }
    @include desktop{
        grid-column: 1/3;
        grid-row: 1/2;
        padding-left: 1rem;
        padding-right: .5rem;
    }
}
.feria-2{
    border: none;
    margin: 1rem;
    grid-column: 3/5;
    grid-row: 1/2;
    padding-left: .5rem;
    padding-right: .5rem;
    @include cel{
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 0;
    }
    @include smart{
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 0;
    }
    @include tablet{
        grid-column: 3/5;
        grid-row: 1/2;
        padding-left: .5rem;
        padding-right: 1rem;
    }
    @include tablet-xl{
        grid-column: 3/5;
        grid-row: 1/2;
        padding-left: .5rem;
        padding-right: 1rem;
    }
    @include desktop{
        grid-column: 3/5;
        grid-row: 1/2;
        padding-left: .5rem;
        padding-right: 1rem;
    }
}
.feria-3{
    border: none;
    margin: 1rem;
    grid-column: 5/7;
    grid-row: 1/2;
    padding-left: .5rem;
    padding-right: 1rem;
    @include cel{
        grid-column: 1/2;
        grid-row: 3/4;
        padding: 0;
    }
    @include smart{
        grid-column: 1/2;
        grid-row: 3/4;
        padding: 0;
    }
    @include tablet{
        grid-column: 1/3;
        grid-row: 2/3;
        padding-left: 1rem;
        padding-right: .5rem;
    }
    @include tablet-xl{
        grid-column: 1/3;
        grid-row: 2/3;
        padding-left: 1rem;
        padding-right: .5rem;
    }
    @include desktop{
        grid-column: 1/3;
        grid-row: 2/3;
        padding-left: 1rem;
        padding-right: .5rem;
    }
}
.feria-4{
    border: none;
    margin: 1rem;
    grid-column: 2/4;
    grid-row: 2/3;
    padding-right: .5rem;
    @include cel{
        grid-column: 1/2;
        grid-row: 4/5;
        padding: 0;
    }
    @include smart{
        grid-column: 1/2;
        grid-row: 4/5;
        padding: 0;
    }
    @include tablet{
        grid-column: 3/5;
        grid-row: 2/3;
        padding-left: .5rem;
        padding-right: 1rem;
    }
    @include tablet-xl{
        grid-column: 3/5;
        grid-row: 2/3;
        padding-left: .5rem;
        padding-right: 1rem;
    }
    @include desktop{
        grid-column: 3/5;
        grid-row: 2/3;
        padding-left: .5rem;
        padding-right: 1rem;
    }
}
.feria-5{
    border: none;
    margin: 1rem;
    grid-column: 4/6;
    grid-row: 2/3;
    padding-left: .5rem;
    @include cel{
        grid-column: 1/2;
        grid-row: 5/6;
        padding: 0;
    }
    @include smart{
        grid-column: 1/2;
        grid-row: 5/6;
        padding: 0;
    }
    @include tablet{
        grid-column: 2/4;
        grid-row: 3/4;
        padding-left: .5rem;
        padding-right: .5rem;
    }
    @include tablet-xl{
        grid-column: 2/4;
        grid-row: 3/4;
        padding-left: .5rem;
        padding-right: .5rem;
    }
    @include desktop{
        grid-column: 2/4;
        grid-row: 3/4;
        padding-left: .5rem;
        padding-right: .5rem;
    }
}
