footer{
    margin-top: auto;
    position: sticky;
    bottom: 0;
    background-color: map-get($map:$paleta, $key: 'white');
    width: 100%;
    p{
        @include texto(1.7rem,400,map-get($map:$paleta, $key: 'black'));
        font-family: $fuga;
        transition: transform .1s;
        margin-top: 1rem;
        &:hover{
            color: map-get($map:$paleta, $key: 'third');
            transform: translateX(.3px);
        }
        @include cel{
            font-size: 1.1rem;
        }
        @media screen and (max-width: 687px) and (min-width: 362px){
            font-size: 1.2rem;
        }
        @include tablet-xl{
            font-size: 1.3rem;
        }
        @include desktop{
            font-size: 1.5rem;
        }
        @media screen and (min-width: 1111px) and (max-width: 1199px){
            font-size: 1.6rem;
        }
        @media screen and (min-width: 1200px) and (max-width: 1350px){
            font-size: 1.7rem;
        }
    }
    h4{
        @include texto(1.3rem,200,map-get($map:$paleta, $key: 'black'));
        font-family: $fuga;
        @include cel{
            font-size: 0.8rem;
        }
        @media screen and (max-width: 687px) and (min-width: 362px){
            font-size: 0.9rem;
        }
        @include tablet-xl{
            font-size: 1rem;
        }
        @include desktop{
            font-size: 1.1rem;
        }
        @media screen and (min-width: 1111px) and (max-width: 1199px){
            font-size: 1.2rem;
        }
        @media screen and (min-width: 1200px) and (max-width: 1350px){
            font-size: 1.3rem;
        }
    }
    ul{
        list-style-type: none
    }
}
.logos-redes{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    transition: transform .1s;
    &:hover{
        transform: translateX(.5px);
    }
}
.copyright{
    height: 2rem;
    width: 2rem;
    @include cel{
        height: 1rem;
        width: 1rem;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        height: 1.3rem;
        width: 1.3rem;
    }
    @include tablet-xl{
        height: 1.5rem;
        width: 1.5rem;
    }
    @include desktop{
        height: 2rem;
        width: 2rem;
    }
    @media screen and (min-width: 1111px) and (max-width: 1199px){
        height: 2rem;
        width: 2rem;
    }
    @media screen and (min-width: 1200px) and (max-width: 1350px){
        height: 2rem;
        width: 2rem;;
    }
}
/**GRID FOOTER**/
.grid-footer{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
}
.grid-footer-1{
    grid-column: 1/2;
    grid-row: 1/2;
}
.grid-footer-2{
    grid-column: 2/3;
    grid-row: 1/2;
}
.grid-footer-3{
    grid-column: 3/5;
    grid-row: 1/2;
}
.grid-footer-4{
    grid-column: 5/7;
    grid-row: 1/2;
}