/**CLASES**/
.margin-index{
    margin-top: 0;
}
/**CATEGORIAS**/
.titulo-categorias{
    margin: 5rem 0;
    @include texto(3.5rem,400,map-get($map:$paleta, $key: 'black'));
                    font-family: $richard;
                    @include cel{
                        font-size: 4.5rem;
                    }
                    @media screen and (max-width: 687px) and (min-width: 362px){
                        font-size: 5.5rem;
                    }
                    @include tablet-xl{
                        font-size: 3.3rem;
                    }
                    @include desktop{
                        font-size: 3rem;
                    }
                    @include wide{
                        font-size: 2.8rem;
                    }
}
.articulo-1{
    margin-top: 3rem;
    margin-bottom: 10rem;
    width: 60%;
    @include cel{
        width: 100%;
        margin-bottom: 0;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        width: 100%;
        margin-bottom: 0;
    }
    @include tablet-xl{
        width: 65%;
        margin-bottom: 7rem;
    }
    @include desktop{
        width: 60%;
        margin-bottom: 8rem;
    }
    @include wide{
        width: 60%;
        margin-bottom: 9rem;
    }
}
.articulo-2{
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
    @include cel{
        margin-bottom: 0;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        margin-bottom: 0;
    }
    @include tablet-xl{
        margin-bottom: 7rem;
    }
    @include desktop{
        margin-bottom: 8rem;
    }
    @include wide{
        margin-bottom: 9rem;
    }
}
.articulo-3{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    @include cel{
        flex-direction: column;
        margin-bottom: 0;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        justify-content: center;
        flex-direction: row;
        margin-bottom: 0;
    }
}
.img-art-1{
    min-height: 30vh;
    object-fit: cover;
    @include cel{
        height: 65vh;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        height: 65vh;
    }
}
.img1-art-2{
    max-height: 60vh;
    object-fit: cover;
    width: 65%;
    margin-bottom: 2rem;
    margin-left: 1rem;
    @include cel{
        width: 100%;
        height: 60vh;
        margin-bottom: 0;
        margin-left: 0;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        width: 100%;
        height: 60vh;
        margin-bottom: 0;
        margin-left: 0;
    }
}
.img2-art-2{
    max-height: 60vh;
    object-fit: cover;
    width: 65%;
    margin-right: 1rem;
    @include cel{
        width: 100%;
        height: 60vh;
        margin-right: 0;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        width: 100%;
        height: 60vh;
        margin-right: 0;
    }
}
.img1-art-3{
    object-fit: cover;
    width: 35%;
    @include cel{
        width: 100%;
        height: auto;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        width: 50%;
        height: 75vh;
    }
}
.img2-art-3{
    object-fit: cover;
    width: 35%;
    @include cel{
        width: 100%;
        height: auto;
    }
    @media screen and (max-width: 687px) and (min-width: 362px){
        width: 50%;
        height: 75vh;
    }
}