/**CLASES**/
.margin-index{
    margin-top: 0;
}
/**CATEGORIAS**/
.titulo-categorias{
    margin: 5rem 0;
    @include texto(3.5rem,400,map-get($map:$paleta, $key: 'black'));
                    font-family: $richard;
                    @include cel{
                        font-size: 4.5rem;
                    }
                    @media screen and (max-width: 687px) and (min-width: 362px){
                        font-size: 5.5rem;
                    }
                    @include tablet-xl{
                        font-size: 3.3rem;
                    }
                    @include desktop{
                        font-size: 3rem;
                    }
                    @include wide{
                        font-size: 2.8rem;
                    }
}
/**GRID CATEGORIAS**/
.categorias-lista{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    @media screen and (max-width: 450px){
        grid-template-rows: repeat(5, 1fr);
    }
    @media screen and (min-width: 551px) and (max-width: 1024px) {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
.categoria-1{
    grid-column: 1/3;
    grid-row: 1/2;
    width: 95%;
    @media screen and (max-width: 550px) {
        grid-column: 1/7;
        grid-row: 1/2;
    }
    @media screen and (min-width: 551px) and (max-width: 1024px) {
        grid-column: 1/5;
        grid-row: 1/2;
    }
}
.categoria-2{
    grid-column: 3/5;
    grid-row: 1/2;
    width: 95%;
    @media screen and (max-width: 550px) {
        grid-column: 1/7;
        grid-row: 2/3;
    }
    @media screen and (min-width: 551px) and (max-width: 1024px) {
        grid-column: 5/9;
        grid-row: 1/2;
    }
}
.categoria-3{
    grid-column: 5/7;
    grid-row: 1/2;
    width: 95%;
    @media screen and (max-width: 550px) {
        grid-column: 1/7;
        grid-row: 3/4;
    }
    @media screen and (min-width: 551px) and (max-width: 1024px) {
        grid-column: 1/5;
        grid-row: 2/3;
    }
}
.categoria-4{
    grid-column: 2/4;
    grid-row: 2/3;
    width: 95%;
    @media screen and (max-width: 550px) {
        grid-column: 1/7;
        grid-row: 4/5;
    }
    @media screen and (min-width: 551px) and (max-width: 1024px) {
        grid-column: 5/9;
        grid-row: 2/3;
    }
}
.categoria-5{
    grid-column: 4/6;
    grid-row: 2/3;
    width: 95%;
    @media screen and (max-width: 550px) {
        grid-column: 1/7;
        grid-row: 5/6;
    }
    @media screen and (min-width: 551px) and (max-width: 1024px) {
        grid-column: 3/7;
        grid-row: 3/4;
    }
}
.div-main {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}
.img-op-main{
    grid-column: 1/4;
    grid-row: 1/2;
    &:hover{
        opacity: 0.4;
        filter: blur(5px);
        transition: opacity 1s, filter 1s;
    }
    @media screen and (max-width: 767px) {
        &:hover{
            opacity: 1;
        }
    }
}
.text-op-main{
    grid-column: 3/4;
    grid-row: 1/2;
    @include texto(2.5rem,500,map-get($map:$paleta, $key: 'black'));
    &:hover{
        opacity: 1;
        transition: opacity 1s ease;
    }
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 768px) and (max-width: 900px){
        font-size: 2rem;
    }
    @include desktop{
        font-size: 2.3rem;
    }
    @include wide{
        font-size: 2rem;
    }
}