//NAV
header{
    background-color: map-get($map: $paleta, $key:'white');
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    h1{
        @include texto(8rem,100,map-get($map:$paleta, $key: 'black'));
        font-family: $fuga;
        transition: transform .1s;
        &:hover{
            color: map-get($map:$paleta, $key: 'third');
            transform: translateX(.5px);
        }
        @media screen and (max-width: 360px) {
            font-size: 3.7rem;
        }
        @include cel{
            font-size: 3rem;
        }
        @include smart{
            font-size: 3.7rem;
        }
        @include tablet{
            font-size: 4.3rem;
        }
        @include tablet-xl{
            font-size: 6rem;
        }
        @media screen and (min-width: 901px) and (max-width: 1350px){
            font-size: 7rem;
        }
    }
    div ul li a{
        margin-bottom: .5rem;
        p{
            @include texto(1.8rem,300,map-get($map:$paleta, $key: 'black'));
            font-family: $fuga;
            transition: transform .1s;
            &:hover{
                color: map-get($map:$paleta, $key: 'third');
                transform: translateX(.5px);
            }
            @include cel{
                font-size: 1.2rem;
            }
            @media screen and (max-width: 687px) and (min-width: 362px){
                font-size: 1.3rem;
            }
            @include tablet-xl{
                font-size: 1.5rem;
            }
            @include desktop{
                font-size: 1.5rem;
            }
            @media screen and (min-width: 1111px) and (max-width: 1199px){
                font-size: 1.6rem;
            }
            @media screen and (min-width: 1200px) and (max-width: 1350px){
                font-size: 1.7rem;
            }
        }
    }
}
/**CLASES**/
.botones-casita{
    height: 40px;
    width: 40px;
    margin-right: 1rem;
    transition: transform .1s;
    &:hover{
        transform: translateX(.5px);
    }
    @include cel{
        height: 28px;
        width: 28px;
    }
    @include smart{
        height: 33px;
        width: 33px;
    }
    @include tablet{
        height: 30px;
        width: 30px;
    }
    @include tablet-xl{
        height: 32px;
        width: 32px;
    }
    @include desktop{
        height: 34px;
        width: 34px;;
    }
    @include wide{
        height:37px;
        width: 37px;
    }
}
.botones{
    height: 23px;
    width: 23px;
    transition: transform .1s;
    &:hover{
        transform: translateX(.5px);
    }
    @include cel{
        margin-bottom: .3rem;
        height: 16px;
        width: 16px;
    }
    @include smart{
        margin-bottom: .3rem;
        height: 19px;
        width: 19px;
    }
    @include tablet{
        margin-bottom: .3rem;
        height: 18px;
        width: 18px;
    }
    @include tablet-xl{
        margin-bottom: .3rem;
        height: 18px;
        width: 18px;
    }
    @include desktop{
        margin-bottom: .3rem;
        height: 20px;
        width: 20px;
    }
    @include wide{
        margin-bottom: .3rem;
        height: 22px;
        width: 22px;
    }
}
.lista-nav{
    text-align: center;
    @include cel{
        margin: 0 2rem;
    }
    @include smart{
        margin: 0 2rem;
    }
}
.grid-nav{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1 auto;
}
.grid-hamburguesa{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: map-get($map: $paleta, $key: 'white');
}
.grid-title{
    grid-column: 2/5;
    grid-row: 1/2;
}
.grid-botones{
    grid-column: 5/6;
    grid-row: 1/2;
}