/**CLASES NOSOTROS**/
.main-nos{
    margin: 0;
}
.div-nos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    min-height: 100vh;
}
.videonos{
    grid-column: 1/4;
    grid-row: 1/2;
    max-width: 100vw;
    min-height: 101%;
    object-fit: cover;
    z-index: -1;
}
.capa{
    grid-column: 1/4;
    grid-row: 1/2;
    background: #1c1c1d;
    opacity: .5;
    mix-blend-mode: overlay;
}
.w-nos{
    grid-column: 1/4;
    grid-row: 1/2;
    margin-top: 7rem;
    margin-bottom: 5rem;
    @include cel{
        width: 80%;
    }
    @include smart{
        width: 80%;
    }
}