$borders2: #171716;
$hoversMain: #454848;
$hovers2: #cdccc4;
$paleta:(
    'main': #383146,
    'secondary': #63577a,
    'third': #27403D,
    'white': #ffffff,
    'claro': #ffffff,
    'black': #151414,
    'fondo': #F2F1E9,
);